/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}


body {
    background: radial-gradient(rgb(240, 240, 240), rgb(200, 200, 200));
    font-family: "Sansation", sans-serif;
}


html {
    scroll-behavior: smooth;
}

/* Transition */

a, b, .btn, .learn-more-button{
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    text-shadow: 2px 2px 2px rgb(230, 230, 230);
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: rgb(224, 195, 131);
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: grey;
}

.logo {
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(230, 230, 230);
}

.logo:hover {
    cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    text-shadow: 2px 2px 2px rgb(230, 230, 230);
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 0%;
    right: 100%;
    background-color: rgb(224, 195, 131);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    inset-block-start: -50px;
    display: block;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
}



/* Sections */

section {
    padding-top: 20px;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#desktop-nav {
    margin-bottom: 50px;
    background-color: rgb(224, 195, 131);
}

#hamburger-nav {
    margin-bottom: 50px;
    background-color: rgb(224, 195, 131);
}

/* Profile Section */

.profile-text-container {
    margin: auto;
    display: grid;
    padding: 30px;
    color: rgb(50, 50, 50);
    font-size: 1.2rem;
    background: rgb(242, 242, 242);
}

.profile-text {
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

#profile {
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    background: rgb(242, 242, 242);
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

img[alt="Profile Pic"] {
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(50, 50, 50);
    margin-bottom: 120px;
    border-radius: 50%;
}

.section__text {
    cursor: default;
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    color: rgb(85, 85, 85);
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.name-title {
    font-size: 3rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(230, 230, 230);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(224, 195, 131);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transform: all 300ms ease;
    padding: 1rem;
    width: 12rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.2rem solid;
    background: none;
}

.learn-more-button {
    position: relative;
    bottom: 120px;
    left: 600px;
    font-weight: 600;
    transform: all 300ms ease;
    border: rgb(53, 53, 53) 0.1rem solid;
    background: rgb(230, 230, 230);
    padding: 2rem;
    width: 15rem;
    font-size: 1.15rem;
    border-radius: 4rem;
}

.learn-more-button:hover {
    cursor: pointer;
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
    background: rgb(53, 53, 53);
    color: white;
}

/* Projects Section*/

#projects {
    display: grid;
    justify-content: center;
}

.master-container {
    display: grid;
    gap: 30px 0px;
}

.project-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 550px;
    padding: 20px;
    border: 4px;
    border-style: solid;
    
}

.project-container:hover {
    transform: scale(1.05) perspective(10px);
}

.project-header-container {
    min-width: 400px;
    max-width: 400px;
    display: inline-flex;
    border: 10px solid transparent;
}

.project-icon {
    float: left;
    cursor: pointer;
    height: 4rem;
}

.project-title {
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px 2px rgb(55, 55, 55);
    min-width: 300px;
    margin-left: 10px;
    text-align: center;
    font-size: 1.8rem;
    cursor: default;
    border: 10px solid transparent;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.project-pic-container {
    float: right;
    margin-right: 30px;
}

.project-showcase {
    margin-top: 80px;
    float: right;
    object-fit: fill;
    border: 5px solid;
    border-radius: 10px;
}

.project-roles-container {
    display: grid;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    width: 420px;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px 5px rgb(55, 55, 55);
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 20px;
    background-color: rgb(106, 145, 99);
}

.project-description-container {
    display: grid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    margin-top: 20px;
    gap: 10px;
    width: 400px;
    color: rgb(50, 50, 50);
    font-size: 1.2rem;
    font-weight: bold;
}

.project-text-container {
    display: grid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    margin-top: 20px;
    gap: 10px;
    width: 400px;
    color: rgb(50, 50, 50);
    font-size: 1.2rem;
    padding-bottom: 60px;
}

.project-bullet-point {
    font-size: 1.2rem;
    font-style: normal;
}

/* About Section */

#about {
    justify-content: center;
    display: grid;
    margin: auto;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background: rgb(242, 242, 242);
}

.about-title {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.about-text {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
    margin: auto;
    margin-top: 0px;
    text-align: center;
    width: 700px;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.contact-title {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(230, 230, 230);
    padding: 20px;
    margin: 35%;
    margin-top: 75px;
    margin-bottom: 20px;
    background-color: rgb(224, 195, 131);
    border: 3px solid black;
    border-radius: 100px;
}

#contact {
    justify-content: center;
    display: flex;
    margin: 25%;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-top: 55px;
    height: 150px;
    background: rgb(242, 242, 242);
    border: 2px solid black;
    border-radius: 50px;
}

.bottom {
    height: 150px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(224, 195, 131);
}

#project-separate {
    justify-content: left;
    margin: auto;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: -50px;
    background: rgb(242, 242, 242);
}

.project-separate-container {
    display: grid;
    margin: auto;
}

.art-credits {
    text-align: end;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-separate-bar {
    display: flex;
}

.project-bullet-box {
    background-color: rgb(255, 255, 255);
    margin-right: 300px;
    padding: 10px;
    box-shadow: -7px 7px 5px rgb(200, 200, 200);
}

.project-separate-logo {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
    font-size: 4rem;
    text-decoration: underline;
    text-underline-offset: 30px;
    text-decoration-thickness: 3px;
    font-weight: bold;
}

.project-separate-icon {
    padding-top: 50px;
    padding-left: 20px;
    cursor: pointer;
    height: 4rem;
}

.project-separate-description {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 200px;
}

.after-description {
    font-size: 1.2rem;
    font-style: normal;
    margin-bottom: 30px;

}

.project-separate-bullet-point {
    font-size: 1.2rem;
    font-style: normal;
    max-width: 80%;
    margin-bottom: 10px;
}

.project-separate-header {
    margin-top: 80px;
    margin-bottom: 40px;
    padding-right: 20px;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2.5px;
    font-weight: bold;
}

.section-separate-header {
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-decoration-thickness: 2.5px;
    font-weight: bold;
}